<div class="span12">
	<h3 class="heading">转账列表</h3>
	<div role="grid" class="dataTables_wrapper form-inline" id="dt_gal_wrapper">
		<table id="smpl_tbl" class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>客户姓名</th>
					<th>开户行</th>
					<th>账号</th>
					<th>金额</th>
					<th>提交时间</th>
					<th>提交人</th>
				</tr>
			</thead>
			<tbody>
				<%foreach from=$data item=item%>
				<tr>
					<td><%$item->customer->account_name%></td>
					<td><%$item->customer->bank_name%></td>
					<td><%$item->customer->account_no%></td>
					<td><%$item->amount%></td>
					<td><%$item->modify_time%></td>
					<td><%$item->modify_username%></td>
				</tr>
				<%/foreach%>
				
			</tbody>
		</table>
	</div>
</div>