<%form id="product_approval1" name="product_approval1" action="/product/manage/approval" method="POST" class="form-horizontal"%>
<div class="control-group formSep">
	<div class="span8">
			<label class="control-label" for="account_num">账号 <span class="f_req">*</span></label>
	<div class="controls">
		<input type="text" required="true" value="" class="input" id=""account_num"" name=""account_num"">
	</div>
	</div>

</div>
<div class="control-group formSep">
	<div class="span8">
			<label class="control-label" for="name">姓名<span class="f_req">*</span></label>
	<div class="controls">
		<input type="text" required="true" value="" class="input" id="name" name="name">
	</div>
	</div>

</div>
<div class="control-group" align="left">
		<div class="controls">
			<button type="submit" class="btn btn-gebo">提交查询</button>
		</div>
</div>
<%/form%>
