	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>转入账平台</title>

	<!-- Bootstrap framework -->
	<link rel="stylesheet" href="<%$res%>/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="<%$res%>/bootstrap/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="<%$res%>/lib/libs.css" />
	
	 
	<!-- aditional icons -->
	<link rel="stylesheet" href="<%$res%>/img/splashy/splashy.css" />
	
	<!-- flags -->
	<link rel="stylesheet" href="<%$res%>/img/flags/flags.css" />	
	
	<link rel="stylesheet" href="<%$res%>/lib/jnotify/jNotify.jquery.css" media="screen" />
	
	<%foreach $css_arr as $css%>
		<link rel="stylesheet" href="<%$res%>/<%$css%>" />
	<%/foreach%>
	
	<!-- main styles -->
	<link rel="stylesheet" href="<%$res%>/css/style.css" />
	<link rel="stylesheet" href="/statics/css/main.css" />
	<!-- theme color-->
	<link rel="stylesheet" href="<%$res%>/css/blue.css" id="link_theme" />	
	<!-- favicon -->
	<link rel="shortcut icon" href="favicon.ico" />
	
	<script src="/statics/js/main.js"></script>
	
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="<%$res%>/css/ie.css" />
	<![endif]-->
	
	<!--[if lt IE 9]>
	<script src="<%$res%>/js/ie/html5.js"></script>
	<script src="<%$res%>/js/ie/respond.min.js"></script>
	<script src="<%$res%>/lib/flot/excanvas.min.js"></script>
	<![endif]-->
	<script>
	//* hide all elements & show preloader
	document.documentElement.className += 'js';
	</script>